html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-color: rgb(179, 141, 248);
  }
  
  .form input[type="number"] {
    width: 200px;
  }

  .lastResult {
    color: white;
    padding: 3px;
  }